/* Tribute Page Project GW Toney updated
 Elizabeth Hildreth
 5/12/2019  */

/* BODY */
body {
    width: 95%;
    position: relative;
    color: darkslategray;
    font-family: 'PT Serif', serif;
}

.bodyBorder {
    border-color: white;
    border-width: 10px;
    border-style: solid;   
}
/* END BODY */

/* TOP SECTION */
#main {
    background-color: rgb(238, 237, 237);
    border-color: white;
    border-width: 1px;
    border-style: solid; 
    border-radius: 2%;
}

img {
    max-width: 95%;
    justify-self: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-top: 5px;
}

#img-caption {
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
}

#img-div {
    background: white;
    margin: 7px 7px 2px 7px;
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
    font-size: 18px;
}
/* END TOP SECTION */

/* TIMELINE SECTION */
h2 {
    text-align: center;
}
#tribute-info {
    margin: 0% 20% 0% 20%; 
}
p {
    font-size: 19px;
}
/* END TIMELINE SECTION */

/* BLOCKQUOTE SECTION */
blockquote {
    padding: 20px 0;
    font-family: 'Charm', cursive;
}

blockquote p {
    text-align: center;
    font-size: 1.9em;
}

blockquote #quoter {
    text-align: center;
    font-size: 1.4em;
}
/* END BLOCKQUOTE SECTION */

/* FANCYBOX SECTION */
h3 {
    text-align: center;
    font-size: 1.4em;
}

/* fancybox custom css */
* {
    margin: 0;
    padding: 0;
}

/* general styling */
body {
    color: #222;
    font: 14px;
}

a {
    text-decoration: none;
    outline: none;
    color: #54a6de;
}

/* custom styling */
.container {
    width: 80%;
    margin: 10px auto;
    overflow: auto;
}

/* nav styling */
#navbar {
    display: block;
    height: 40px;
    background: #444;
}

#navbar a {
    color: #ffff;
    display: inline-block;
    height: 40px;
    line-height: 37px;
    padding: 0 16px;
}

#navbar a.active, 
#navbar a:hover {
    background: #555;
}

/* content styling */
#main {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    min-height: 275px;
    /* padding-bottom: 50px; */
}

#main ul {
    overflow: hidden;
}

#main ul.hidden {
    display: none;
}

#main li{
    float: left;
    height: 125px;
    list-style: none;
    margin: 6px;
    position: relative;
    width: 125px;
    overflow: hidden;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow:  0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

#main li a {
    max-height: 100px;
    max-width: 100px;
}

footer{
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #333;
    height: 40px;
    padding-top: 10px;
}
/* end fancybox custom css */




/* 100% image on smaller screens */
@media only screen and (max-width: 700px){
    .modal-content{
        width: 100%;
    }
    #navbar {
        height: 80px;
    }
}


@media (max-width: 355px){
    body {
        width: 87%;
    }
    #subtitle {
        font-size: 15px;
    }
    #image-caption {
        font-size: 15px;
    }
    #tribute-info {
        margin: 0% 15% 10% 15%;
    }
    li {
        font-size: 15px;
    }
    h2 {
        text-align: center;
    }
}